* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.sections {
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
}

.title {
  display: block;
  width: 100%;
  padding: 1rem 0.5rem;
  border: 1px solid lightgray;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
}

.fa-rotate {
  position: absolute;
  right: 2%;
  color: gray;
  cursor: pointer;
}

.input-holder {
  position: relative;
}

.add-list {
  display: block;
  padding: 1rem 0.5rem;
  border: 1px solid lightgray;
  width: 100%;
  height: 100%;
}

.new-text {
  width: 100%;
  border: none;
  padding: 0.3rem;
  position: relative;
}

.updatebtn {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  font-size: 1rem;
  color: gray;
  cursor: pointer;
}

.add-todo {
  position: absolute;
  padding: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.fa-arrow-turn-down {
  color: gray;
  transform: rotate(90deg);
  font-size: 1rem;
}

.list-item {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  border: 1px solid lightgray;
  width: 100%;
  position: relative;
  padding: 1rem 0.5rem;
}

.checkbox:checked + .text-node {
  text-decoration: line-through;
}

.menu-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(109, 107, 107);
  background-color: #fff;
}

.icon-container {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.icon-container.active {
  display: flex;
}

.editbtn,
.deletebtn {
  background-color: #fff;
  color: gray;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
}

.btn {
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  background-color: lightgrey;
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
}
